/* This file is reserved for overriding and extending the template styles. */

/*
 * Logo Nav Logro
*/
html[data-color^="light-"][data-navcolor="light"] .logo .img-logro {
    background-image: url("../img/logo/logo-logro-light.svg") !important;
}
html[data-color^="dark-"][data-navcolor="dark"] .logo .img-logro {
    background-image: url("../img/logo/logo-logro-dark.svg") !important;
}
html[data-color^="light-"][data-navcolor="dark"] .logo .img-logro {
    background-image: url("../img/logo/logo-logro-dark.svg") !important;
}
html[data-color^="dark-"][data-navcolor="light"] .logo .img-logro {
    background-image: url("../img/logo/logo-logro-light.svg") !important;
}
html[data-color^="light-"][data-navcolor="default"] .logo .img-logro {
    background-image: url("../img/logo/logro-light.svg") !important;
}
html[data-color^="dark-"][data-navcolor="default"] .logo .img-logro {
    background-image: url("../img/logo/logro-light.svg") !important;
}
html[data-color^="light-"] .logo .img-logro {
    background-image: url("../img/logo/logro-light.svg") !important;
}
html[data-color^="dark-"] .logo .img-logro {
    background-image: url("../img/logo/logro-light.svg") !important;
}

/*
 * Logo Lobby Logro
 */
html[data-color^="light-"] .logo-default.img-logro {
    background-image: url("../img/logo/logo-logro-lobby-light.svg") !important;
}
html[data-color^="dark-"] .logo-default.img-logro {
    background-image: url("../img/logo/logo-logro-lobby-dark.svg") !important;
}
html[data-color=] .logo-default.img-logro {
    background-image: url("../img/logo/logo-logro-lobby-light.svg") !important;
}
.logo-default.img-logro {
    width: 64px;
    min-height: 104px;
}

/*
 * Full Page Start
 */

@media (min-width: 992px) {
    .full-page-content-right-border {
        border-radius: var(--border-radius-lg) !important;
    }
}
/*
 * Full Page End
 */


/*
 * Loading start
 */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*
 * Class Logro
 */
.load {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    border: solid 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-left-color: var(--primary);

    animation: rotate 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    -webkit-animation: rotate 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}
.logro-label { text-transform: lowercase; }
.logro-label::first-letter { text-transform: uppercase; }
/*
 * Class Logro End
 */

/*
 * DataTables Start
 */
.dataTables_scrollBody {
    height: fit-content !important;
}
.dataTables_scrollHeadInner {
    width: 100% !important;
}
.table>:not(caption)>*>* {
    padding: .5rem .5rem !important;
}
/*
 * DataTables End
 */



/*
 * New class
 */
div[data-notify="container"] .btn-close {
    top: 10px !important;
}
input[type="file"] {
    display: none;
}
.hover-bg-primary:hover {
    background-color: var(--primary);
    color: var(--light-text) !important
}
.min-height-sm {
    min-height: 1.5rem;
}
.border-pink{
    border-color: var(--bs-pink) !important;
}
.card-color-background {
    background-color: var(--background);
    box-shadow: none !important;
}
.checked-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    background-color: var(--muted);
    border-color: var(--muted) !important;
    margin-top: 0.2em;
    margin-left: -1.75em;
    border-radius: var(--border-radius-sm);
    width: 16px;
    height: 16px;
    float: left;
    pointer-events: none;
}
.logro-toggle { position: relative;}
.logro-toggle:before {
    position: absolute;
    top: calc(50% - 2px);
    border-top: 1px solid var(--alternate);
    border-right: 1px solid var(--alternate);
    margin-top: 0;
    right: 12px;
    content: "";
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    order: 3;
    margin-left: 5px;
}
